<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/login.css">
    <!--Stylesheet-->
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="post">
        <a href="/signup">Create an Acount</a>
        <h3>Login Here </h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">
        <h6 id="usernameErrorlogin"></h6>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
        <h6  id="passwordErrorlogin"></h6>
        <div class="button">
        <input type="submit"></div>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-github"></i> github</div>
        </div>
    </form>
    <script src="/JS/login.js">
        
    </script>
</body>